@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dl-color-gray-grey: #72888cff;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-gray-beige: #edebddff;
  --dl-color-gray-black: #000000;
  --dl-color-gray-green: #74927fff;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-gray-yellow: #f7d58bff;
  --dl-size-size-xxlarge: 288px;
  --dl-color-scheme-black: #000000ff;
  --dl-color-scheme-cream: #cec3bcff;
  --dl-size-size-maxwidth: 1400px;
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius1: 25px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-space-space-oneandhalfunits: 24px;
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-beige);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-beige);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-beige);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.button-primary {
  color: var(--dl-color-scheme-cream);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  line-height: 1;
  border-color: transparent;
  border-radius: 4px;
  background-color: #914332ff;
}
.button-primary:hover {
  color: var(--dl-color-scheme-black);
  background-color: rgba(0, 0, 0, 0.1);
}
.button-lg {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
}
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

.confirmation-message {
  color: black;
  font-size: 18px;
  font-family: Inter;
  text-align: center;
  padding: 10px;
  border: transparent;
  border-radius: 12px;
}

.confirmation-gif {
  width: 100px;
  height: auto;
  display: block;
  margin: 0 auto 10px;
}

@media(max-width: 479px) {
  .button-primary {
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
  }
}
